<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
								http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Rest Jersey City Pahilo</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- User Jersey 1 if you are using this servlet class and User Jersey 2 
		if you are using this org.glassfish class -->
	<!-- <servlet> <servlet-name>jersey-serlvet</servlet-name> <servlet-class> 
		com.sun.jersey.spi.container.servlet.ServletContainer </servlet-class> <init-param> 
		<param-name>com.sun.jersey.config.property.packages</param-name> <param-value>com.pahilomaya.restService</param-value> 
		</init-param> <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> 
		<servlet-name>jersey-serlvet</servlet-name> <url-pattern>/api/*</url-pattern> 
		</servlet-mapping> -->

	<listener>
		<listener-class>com.pahilomaya.guice.ListenerConfig</listener-class>
	</listener>

	<filter>
		<filter-name>guice</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guice</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>